<nav class="bg-gray-800 text-white p-4 flex gap-4">
  <a routerLink="/exercices/property-binding" routerLinkActive="underline">Property Binding</a>
  <a routerLink="/exercices/text-interpolation" routerLinkActive="underline">Text Interpolation</a>
  <a routerLink="/exercices/friend" routerLinkActive="underline">Friend</a>
  <a routerLink="/exercices/tp" routerLinkActive="underline">TP</a>
  <a routerLink="/exercices/meteo-api" routerLinkActive="underline">Meteo API</a>
  <a routerLink="/exercices/parent" routerLinkActive="underline">Parent/Child</a>
  <a routerLink="/exercices/task-list-firebase" routerLinkActive="underline">Task List Firebase</a>
</nav>

<router-outlet></router-outlet>
